:root {
    --background-vector: url(./src/assets/Vector 1.svg) no-repeat;
    --title-HighlightColor: linear-gradient(90deg,#63a6f5 15%, #f6cb1a 60%);
    --About-title: #273153; 
    --About-text: #000000B5;
    --Tech-background: linear-gradient(90deg,rgba(12, 25, 49, 1) 71%, rgba(37, 77, 151, 1) 100%);


}

.container {
    height: 1804px;
    background: var(--background-vector);
    background-position: top;
    background-size: 100vw;
    background-color: var(--font-baseColor);
}

.title_container {
    height: clamp(19rem, 20.9rem, 30.5rem);
    margin-top: 1.8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    width: 100%;

    & h2 {
        color: var(--About-title);
        font-weight: 600;
        font-size: clamp(3rem, 4rem, 5rem);


        & strong {
           background: var(--title-HighlightColor);
           background-clip: text;
           color: transparent;
           display: inline-block;
           font-weight: 700;
        }
    }

    & p {
        color: var(--About-text);
        font-weight: 400;
        font-size: clamp(1rem, 2rem, 3rem);
        line-height: clamp(2rem, 3rem, 4rem);
        width: 60%;
        text-align: center;

    }

}

.Summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;

}
.venecoin {
    width: clamp(25rem, 26.7rem, 27.5rem);
    height: clamp(25rem, 26.7rem, 27.5rem);
    border-radius: 70px;
}
.context_container {
    width: clamp(55rem, 56.2rem, 57rem);

    & p {
        font-weight: 300;
        font-size: clamp(1rem, 1.8rem, 2.5rem);
        color: var(--About-text);
        width: 90%;
        margin-top: 1rem;

        
    }
}
.context {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;
    margin-left: 3.7rem;
    


    & img {
        margin: 0;
        width: 3.7rem;
    }
    

    & h2 {
        color: var(--About-title);
        font-weight: 600;
        font-size: clamp(1rem, 1.8rem, 2.5rem);
        width: 600px;
        margin: 0;
    }
}
.context_title {
    margin: 0;
}
.SpacingH2 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
}

.AboutCards {
    margin-top: 3rem;
}

.Pros {
    margin-top: 6.2rem;
    margin-left: 1.2rem;
    width: 92vw;
}

.Technical {
    width: 92vw;
    height: clamp(11rem, 12.5rem, 13rem);
    border-radius: 70px;
    background: var(--Tech-background);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 5rem;

    & h2 {
        color: var(--font-baseColor);
        font-weight: 300;
        font-size: clamp(1.5rem, 2.2rem, 3rem);
        margin-top: 0.6rem;
    }
}