:root {
    --background-img: linear-gradient(150deg,#1e293b7e 8%, #3b83f6bb 83%), url(./src/assets/Mocho_background.png) no-repeat;
    --title-color: linear-gradient(90deg,#63a6f5 15%, #f6cb1a 60%);
    --font-basecolor: #fff;

}

.container {
    min-height: 902px;
    background: var(--background-img);
    background-size: cover;
    background-position: center;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & img {
        width: 468px;
        height: 468px;
        margin: 0;
        margin-top: 40px;
        
    }

}

article {
    max-width: 781px;
    margin: 0;

    & h1 {
        font-weight: 700;
        font-size: 96px;
        background: var(--title-color);
        background-clip: text;
        color: transparent;
        display: inline-block;

    }

    & h2 {
        font-weight: 600;
        font-size: 36px;
        color: var(--font-basecolor);
        margin-top: 15px;
    }

    & p {
        color: var(--font-basecolor);
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        margin-top: 40px;
        
    }

}

.btn_container {
    width: 370px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 14px;
    margin-top: 50px;

}

.btn_box {

    & a {
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        width: 181px;
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        background-clip: content-box;

    }

}