:root {
    --background-img: linear-gradient(150deg,#1e293b7e 8%, #3b83f6bb 83%), url(./src/assets/Mocho_background.png) no-repeat;
    --title-color: linear-gradient(90deg,#63a6f5 15%, #f6cb1a 60%);
    --font-basecolor: #fff;

}

.container {
    min-height: 902px;
    background: var(--background-img);
    background-size: cover;
    background-position: center;
    background-size: 100vw;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & img {
        width: clamp(28rem, 29.2rem, 30rem);
        height: clamp(28rem, 29.2rem, 30rem);
        margin: 0;
        margin-top: 2.5rem;
        
    }

}

.title_container {
    max-width: clamp(47rem, 48.8rem, 49rem);
    margin: 0;

    & h1 {
        font-weight: 700;
        font-size: clamp(5rem, 6rem, 7rem);
        background: var(--title-color);
        background-clip: text;
        color: transparent;
        display: inline-block;

    }

    & h2 {
        font-weight: 600;
        font-size: clamp(1.5rem, 2.2rem, 3rem);
        color: var(--font-basecolor);
        margin-top: 0.9rem;
    }

    & p {
        color: var(--font-basecolor);
        font-weight: 400;
        font-size: clamp(1rem, 1.5rem, 2rem);
        line-height: clamp(1rem, 2.5rem, 3rem);
        margin-top: 2.5rem;
        
    }

}

.btn_container {
    width: clamp(22rem, 23rem, 24rem);
    height: clamp(3rem, 4.9rem, 5.5rem);
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.8rem;
    margin-top: 3rem;

}

.btn_box {

    & a {
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        width: clamp(10rem, 11.3rem, 12.3rem);
        height: clamp(3rem, 4rem, 5rem);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: 600;
        font-size: clamp(0.5rem, 1rem, 1.5rem);

    }

}