:root {
    --HowWork-background: linear-gradient(113.83deg, #1E293B 13.5%, #3B82F6 99.94%);
    --HowWork-imgShadow: 0px 4px 10px 15px #00000040;
    --Specs-background: #2A344B;

}

.HowWork_container {
    height: 1870px;
    background: var(--HowWork-background);
    display: flex;
    flex-direction: column;

}

.HowWork_title {
    color: var(--font-baseColor);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 3rem;

    & h2 {
        font-weight: 600;
        font-size: clamp(2rem, 4rem, 5rem);
    }

    & strong {
        background: var(--title-HighlightColor);
        background-clip: text;
        color: transparent;
        display: inline-block;
    }

    & p {
        text-align: center;
        font-weight: 400;
        font-size: clamp(1rem, 2rem, 2.5rem);
        line-height: clamp(2rem, 3.5rem, 4rem);
        width: 77%;
    }

}

.steps {
    display: flex;
    flex-direction: column;
    margin-top: clamp(2rem, 3.75rem, 4rem);
    gap: 50px;

    & h3 {
        display: flex;
        justify-content: center;
        width: 100vw;
        text-align: center;
        font-weight: 600;
        color: var(--font-baseColor);
        font-size: clamp(1.5rem, 2.25rem, 3rem);
    }

}

.Blockchain {
    display: flex;
    color: var(--font-baseColor);
    margin-top: 2rem;
    margin-left: 1rem;



    & img {
        width: clamp(41rem, 42.4rem, 43rem);
        height: clamp(22rem, 23.4rem, 24rem);
        border-radius: 50px;
        box-shadow: var(--HowWork-imgShadow);
        
    }
}
.Blockchain_text {
    width: 600px;
    height: 386px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;

    & h3, p {      
        width: clamp(35rem, 36.2rem, 37rem);  
        margin-left: 2rem;
        margin-top: 1rem;
    }

    & h3 {
        text-align: center;
        font-weight: 700;
        font-size: clamp(1.5rem, 2rem, 2.2rem);
        width: clamp(32rem, 33.1rem, 34rem);  
    }

    & p {
        font-weight: 300;
        font-size: clamp(1rem, 1.5rem, 2rem);
        line-height: 2rem;
        margin-top: 0;
    }
}

.BlockchainCards {
    margin-left: clamp(0.5rem, 1rem, 1.5rem);
    margin-top: clamp(0.5rem, 1rem, 1.5rem);
}

.specs {
    width: 96vw;
    height: clamp(23rem, 24.8rem, 25rem);
    border-radius: 70px;
    margin-top: clamp(3rem, 3.5rem, 4rem);
    background: var(--Specs-background);

    & h3 {
        text-align: center;
        font-weight: 700;
        font-size: clamp(1.5rem, 2.2rem, 3rem);
        color: var(--font-baseColor);
        margin-top: clamp(1rem, 1.5rem, 2rem);
    }
}

.SpecsCards {
    min-width: 100%;
}

.mining {
    width: 96vw;
    height: clamp(12rem, 13.2rem, 14rem);
    background: var(--Specs-background);
    margin-top: clamp(1rem, 1.6rem, 2rem);
    border-radius: 70px;

    & h3 {
        margin-top: clamp(1rem, 1.5rem, 2rem);
        text-align: center;
        font-weight: 700;
        font-size: clamp(1.5rem, 2.2rem, 3rem);
        color: var(--font-baseColor);
    }
}

.MiningCards {
    min-width: 100%;
}