

.ChartButtons_container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.Button_container {
    
    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 45px;
        text-decoration: none;
        width: clamp(17rem, 18rem, 19rem);
        height: clamp(3rem, 4.2rem, 5.5rem);
        font-weight: 600;
        font-size: clamp(1rem, 1.5rem, 2rem);
    }
}