:root {
    --Factors-trendingColor: #43DB14;
}

.FactorsCards_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 1rem;
}

.Card_container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;

    & svg {
        color: var(--Factors-trendingColor);
    }

    & p {
        color: var(--font-baseColor);
        width: clamp(34rem, 35.1rem, 36rem);
    }
}