:root {
    --StepCard-background: linear-gradient(126.09deg, #334F90 0%, #0F172A 71.05%);
    --number: #F6CB1A;

}


.text {

    & h3 {
        font-size: clamp(1rem, 2rem, 3rem);
        font-weight: 500;
        width: 302px;
        height: 38px;
    }

    & p {
        font-weight: 400;
        font-size: clamp(1rem, 1.25rem, 2rem);
        width: 280px;
        margin-top: 60px;
        line-height: clamp(0.5rem, 1.5rem, 2rem);
    }
}

.top {
    display: flex;
    margin-top: 30px;
    gap: 100px;

    & span {
        display: inline-block;
        font-weight: 600;
        font-size: clamp(1rem, 2.25rem, 3rem);
        color: var(--number);
    }
}