:root {
    --font-baseColor: #FFF;
    --card-background: #03207F;
    --card-border: #404A59 solid 1px;
}

.container {
    width: clamp(24rem, 25rem, 26rem);
    height: clamp(8rem, 9.8rem, 10.5rem);
    background: var(--card-background);
    border: var(--card-border);
    padding: 20px;
    border-radius: 8px;

    & p {
        font-weight: 400;
        font-size: clamp(0.5rem, 1rem, 2rem);
        margin-top: 0.6rem;
        color: var(--font-baseColor);
        line-height: clamp(0.6rem, 1.3rem, 2rem);
        align-items: center;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.8rem;

    & h3 {
        margin: 0;
        font-weight: 700;
        font-size: clamp(1rem, 1.2rem, 2rem);
        color: var(--font-baseColor);
    }

}

.icon {
    margin: 0;
}